.info-mobile {
    position: relative;
    &--img {
        max-width: 100%;
    }
}
.overlay-logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 30%;
    &--img {
        width: 140px;
    }

}
.appInfo-card {
    &--title {
        font-size: 22px;
        font-weight: 700;
    }
    &--description {
        font-size: 18px;
    }
}
.appInfo-list {
    &--img {
        max-width: 140px;
        margin-right: 10px;
    }
}
.text-logo {
    width: 140px;
}